/* Fira Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

body{
    background:#f5f5f5;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 1px;
}

.btn{
    padding: 10px 20px;
    border: 1px solid #006A50;
    color: #006A50;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.heading{
    font-size: 29px;
    color: #0E0E0E;
    margin: 20px 0;
}

.p{
    font-size: 16px;
    font-weight: 400;
    color: #565656;
}

/* navbar styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.logo a{
    font-size: 22px;
    font-weight: bold;
    color: #0E0E0E;
}

.signInBtn button:hover{
    background: #006A50;
    color: white;
}

/* hero styles */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c6e4d6;
    border-radius: 24px;
    padding: 40px 50px;
    gap: 10px;
}

.heroLeft span{
    font-size: 18px;
    color: #6a7972;
    font-weight: 500;
}

.heroLeft h2{
    font-size: 44px;
    color: #0E0E0E;
    font-weight: bold;
    margin-top: 20px;
}

.heroLeft button{
    background: #006A50;
    color: white;
    margin-top: 20px;
}
.heroLeft button:hover{
    background: #5490f5;
    border-color: #5490f5;
}

/* pillars section styles */
.pillars{
    margin: 70px 0;
}

.pillarsCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.pillarsCard{
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
}

.pillarsCard h4{
    font-size: 18px;
    margin: 10px 0;
    color: #3e3e3e;
}

/* future section styles */
.future{
    margin: 50px 0;
}

.future>p{
    margin-bottom: 25px;
}

.futureCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.futureCard{
    border-radius: 16px;
    padding: 24px; 
    width: 100%;
    height: 100%;
}

.futureCard h4{
    font-size: 18px;
    margin: 10px 0;
    color: #3e3e3e;
}

.futureCard p{
    margin-bottom: 15px;
}

.bg1{
   background: #d5e1f5;
}
.bg2{
   background: #c6e4d6;
}
.bg3{
   background: #f7ebcf;
}
.btn-bg1{
   background: #5490f5;
   color: white;
   border: none;
}
.btn-bg1:hover{
   background: #1352bd;
   color: #fff;
   border: none;
}
.btn-bg2{
   background: #006A50;
   color: white;
   border: none;
}
.btn-bg2:hover{
   background: #09a15c;
   color: white;
}
.btn-bg3{
   background: #ffc239;
   color: white;
   border: none;
}
.btn-bg3:hover{
   background: #c08600;
   color: white; 
}

/* about section styles */
.about{
    background: white;
    border: 1px solid #ddd;
    border-radius: 16px;
    margin-bottom: 50px;
    /* padding: 48px 24px; */
    padding: 8px 15px;
}

.aboutBg{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    padding: 25px 0px 20px 0;

}

.about h4{
    margin: 20px 0 6px 0;
}

/* table styles */
.table{
    background: white;
    border-radius: 16px;
    padding: 30px;
}

.table h5{
    font-size: 16px;
    font-weight: 500;
}

.tableHead{
    border-top: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tableHead button{
    padding: 10px 41px;
    font-weight: bold;
    background: #c6e4d6;
    border-radius: 5px;
    border: 1px solid #0e0e0e;
    cursor: pointer;
}
.tableHead button:hover{
    background: #5490f5;
    border: 1px solid #5490f5; 
    color: white;
}
.tableHead div{
    padding-left: 10px;
    padding: 20px;
}

.thBg{
    background: #c6e4d6;
}

.rightSideWidth{
    width: 20%;
    border-right: 1px solid #c0c0c0;
}

.leftSideWidth{
    width: 80%;
    border-left: 1px solid #c0c0c0;
}

.leftSideWidthData{
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    width: 85%;
}
.rightSideWidthData{
    width: 17%;
    border-right: 1px solid #c0c0c0; 
}

.borderBottom{
    border-bottom: 1px solid #c0c0c0;
}

.thHover:hover{
    background: #c0c0c0;
}

/* news section styles */
.news{
    margin: 80px 0;
}
.newsCard{
    background: white;
    border-radius: 16px;
    padding: 30px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.flex-reverse{
    flex-direction: row-reverse;
}

.newsCard>.img>img{
    border-radius: 24px;
    cursor: pointer;
}

.data h3 a{
    font-size: 25px;
    color: #3e3e3e;
    font-weight: bold;
    margin-bottom: 10px;
}
.data h3 a:hover{
    color: #006A50;
    cursor: pointer;
    text-decoration: underline;
}
.data p{
    margin-top: 15px;
    color: #3e3e3e;
}

.data button{
    margin-top: 20px;
}

/* donate style */
.donate{
    text-align: center;
    margin: 50px;
}
.moneyCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.moneyCard{
    background: white;
    padding: 25px;
    border: 1px solid #d8d8d8;
    border-radius: 12px;
    margin: 25px 0;
}
.moneyCard:hover{
    cursor: pointer;
    background: #c6e4d6;
}
.moneyCard h3{
    color: #3e3e3e;
    font-size: 26px;
}

input[type="text"]{
    width: 80%;
    border: none; 
    outline: none;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 20px 10px;
    margin-bottom: 30px;
}

.moneyBg{
    background: #c6e4d6;
}

/* newsletter style */
.newsletter{
    background: #c6e4d6;
    padding: 50px;
    text-align: center;
    border-radius: 16px;
}

.subscribe{
    display: flex;
    margin: 25px auto 25px  auto;
    height: 50px;
    width: 70%;
}

.subscribe button{
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input[type="email"]{
    width: 80%;
    border: none; 
    outline: none;
    font-size: 18px; 
    background: white;
    padding: 25px 10px;
    margin-bottom: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.newsletter{
    margin: 80px 0;
}

/* footer styles */
footer{
    background: white;
    text-align: center;
    padding: 50px 200px;
}

footer hr{
    margin: 20px 0;
}

.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.icons img{
    cursor: pointer;
}